@import 'tailwindcss';
@plugin "daisyui";

@font-face {
  font-family: Abel;
  src: url(../assets/Abel-Regular.ttf);
}

@font-face {
  font-family: Titi;
  src: url(../assets/TitilliumWeb-BoldItalic.ttf);
}

:root {
  --main-font: Abel;
  --secondary-font: Titi;
}

a,
p,
span {
  font-family: Abel;
}

/* h1, h2, h3, h4, h5, h6{
  font-family: ;
} */