---
import Layout from "../layouts/Layout.astro";
import PresentationSection from "../components/PresentationSection.astro";
import Pricing from "../components/Pricing.astro";
import MainBackground from "../components/MainBackground.astro";
---

<style is:global>
  .borderr {
    border-radius: 30% 70% 100% 0% / 100% 55% 45% 0%;
  }
</style>
<Layout>
  <main class="h-dvh w-full bg-white relative overflow-hidden">
    <MainBackground />

    <section class="relative z-10 snap-y snap-mandatory overflow-y-scroll h-screen">
      <!-- PRESENTATION SECTION -->
      <PresentationSection />

      <!-- LAS SIGUIENTES SECCIONES A PARTIR DE AQUI SERAN CADA UNA PARA PRESENTAR LOS SERVICIOS Y FUNCIONES-->
      <section class="snap-always snap-center min-h-screen bg-gradient-to-r from-teal-400 to-yellow-200"></section>
      <section class="snap-always snap-center min-h-screen bg-gradient-to-r from-fuchsia-600 to-pink-600"></section>
      <section class="snap-always snap-center min-h-screen bg-gradient-to-r from-cyan-500 to-blue-500"></section>
      <!-- Esta seccion presentara brevemente los planes -->
      <Pricing />
    </section>
  </main>
</Layout>
