---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
	</head>
	<body class="bg-[#f8fafc]">
		<div class="min-h-screen w-full relative">
			<div
				class="absolute inset-0 z-0"
				style={{
					background: "radial-gradient(125% 125% at 50% 90%, #fff 50%, #aa92fa 100%)",
				}}>
			</div>
		</div>
		<!-- Contenido -->
		<main class="relative z-10">
			<slot />
		</main>
	</body>
</html>
