---
import "../styles/global.css";
import LandingLayout from "../layouts/LandingLayout.astro";
---

<LandingLayout>
	<div class="min-h-screen w-full relative">
		<div
			class="absolute inset-0 z-0"
			style={{
				background: "radial-gradient(125% 125% at 50% 90%, #fff 50%, #aa92fa 100%)",
			}}>
		</div>
	</div>
	<!-- Contenido -->
	<main class="relative z-10">
		<slot />
	</main>
</LandingLayout>
