<section class="flex justify-center items-center ju flex-col ">
  <h2 class="max-sm:text-3xl max-md:text-3xl md:text-4xl font-bold leading-snug mb-4">Con dudas?</h2>
  <h3 class="max-sm:text-[20px] max-md:text-2xl md:text-3xl font-bold leading-snug mb-4">Toma una prueba gratuita de 14 dias!</h3>
  <p>...Y si no estas conforme, te devolvemos tu dinero!</p>
  <button
    class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-6 py-3 rounded-full shadow-lg transition duration-200 cursor-pointer">
    Probar gratis
  </button>
</section>
