<section class="flex flex-wrap md:flex-nowrap items-center justify-between px-10 py-20 gap-10">
  <!-- Charts Placeholder -->
  <div class="w-full md:w-[55%] bg-white/20 backdrop-blur-sm rounded-2xl h-80 border border-amber-400 flex items-center justify-center">
    <p class="text-amber-400 opacity-80">[Diseño de Charts Minimalista]</p>
  </div>

  <!-- Text -->
  <div class="w-full md:w-[40%] text-purple-800">
    <h1 class="max-sm:text-3xl max-md:text-[40px] md:text-4xl xl:text-5xl font-bold leading-snug mb-4">
      Tu información es tan valiosa como tú mismo,<br />
      por eso la cuidamos.
    </h1>
    <p class="text-purple-950 font-bold text-[20px]">Protegemos tus datos con las mejores tecnologías en ciberseguridad.</p>
  </div>
</section>
