<nav class="sm:hidden relative z-10">
  <input id="menu-toggle" type="checkbox" class="peer hidden" />
  <label for="menu-toggle" class="cursor-pointer flex flex-col gap-1 *:bg-white">
    <span class="block w-6 h-0.5"></span>
    <span class="block w-6 h-0.5"></span>
    <span class="block w-6 h-0.5"></span>
  </label>
  <div
    class="absolute right-0 mt-3 w-40 bg-indigo-700/20 text-white rounded-lg p-3 flex flex-col gap-2 opacity-0 pointer-events-none peer-checked:opacity-100 peer-checked:pointer-events-auto transition *:hover:text-indigo-800 *:focus:text-indigo-800">
    <slot />
  </div>
</nav>
