---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";
---

<section class="snap-always snap-center min-h-screen">
  <Header />
  <Hero />
  <CTA />
</section>
