<section class="snap-y snap-mandatory overflow-y-scroll h-screen">
  <div class="snap-always snap-center min-h-screen flex bg-[#F3C969]"></div>
  <div class="snap-always snap-center min-h-screen flex bg-[#F3C969]"></div>
  <div class="snap-always snap-center min-h-screen flex bg-[#F3C969]"></div>
</section>
